*~
.DS_Store
._*
*.swp
/*.exe
/src/*.exe
*.bak
*.ods
*.tmp

/Autosaves
/Config
/Gridmonger Manual
/Logs
/Manual
/User Themes
/dist

/*.gmm
/*.log
/*.log.bak?

/gridmonger
/gridmonger-wayland
/gridmonger-x11
/gridmonger-macos
/gridmonger-macos-arm64
/gridmonger-macos-x64
/gridmonger-arm64
/gridmonger-x64
